table{
    background-color: #74c8d5;
    border: 3px solid yellow;
    border-collapse: collapse;
    width: 350px;
}

td{
    border: 3px solid yellow;
    padding-left: 10px;
}

td > ol{
    color: #FF0000;
}

td > a{
    background-color: #00FF00;

    text-decoration: underline;
}

li + li > span{
    background-color: #FFFF00;
}

td > p {
    color: #ffaa00;
}

span > p {
    color: #ffaa00;
}

