body{
background: blue;
}


.fondo{
  background-color: white;
  width: 49%;
  overflow: hidden;
}

#primero{
  position: absolute;
  left: 4px;
  margin-right: 2px;
  max-width: 400px;
}

#segundo{
  position: absolute;
  right: 4px;
  max-width: 400px;
}



.ejemplo{
  background-color: grey;
  color: yellow;
  padding-top: 10px;
  padding-bottom: 10px;
}

#uno{
  position: relative;
  font-weight: 100;
  width: 290px;

}

#dos{
  position: relative;
  width: 130px;
  text-align: left;
  font-weight: 200;
}

#tres{
  text-decoration: underline;
  width: 80px;
  text-align: left;
  font-weight: 300;

}

#cuatro{
  text-decoration: underline overline;
  width: 60px;
  text-align: center;
  font-weight: 400;
}

#cinco{
  text-decoration: underline line-through overline;
  width: 60px;
  text-align: center;
  font-weight: 500;
}

#ejemplo1{
  text-align:center;
  text-indent: none;
}

#ejemplo2{
  text-align: right;
  text-indent:50px
}

#ejemplo3{
  text-indent: 50px;
}