body{
background: white;
font-weight: 400;
font-size: 20px;
font-style: normal;
}


img{
    margin-block: 25px;
    border: 10px;
    width: 300px;
}

#primeraimagen{
    float: left;
    border: 10px solid red;

}

#segundaimagen{
    float: right;
    border: 10px solid blue;
    
    
}

#terceraimagen{
    float: left;
    border: 10px solid yellow;
    
}

#cuartaimagen{
    float: right;
    border: 10px solid black;
    
}


footer{
    position: absolute;
    top: 388mm;
    left:6mm;
}

